node_modules/
.env
.DS_Store
.vscode/
*.log

# Playwright
playwright-report/
test-results/
screenshots/

# SENSITIVE & LOCAL CONFIG FILES
.env.production
backend/connection.json
frontend/.env.production

# BUILD & DIST
frontend/dist/
backend/dist/
tests/dist/

# LOGS & TEMP
*.log
*.tmp
testfile.txt
